{% extends "base.html" %} 
{% load static %} 

{% block content %}
<div class="col-lg-12 contact-page">
    <div class="container">
        <h1 class="text-center">Welcome!</h1>
        <div class="row">
            <div class="col-lg-4">
                <!-- Opening and Closing times -->
                <div class="timetable mb-4">
                    <!-- Opening hours table here -->
                    <h4 class="text-center">Cork Cafe Shop Opening Hours</h4>
                    <div>
                        <span><b>Monday..........09:00-17:00</b></span>
                    </div>
                    <div>
                        <span><b>Tuesday..........09:00-17:00</b></span>
                    </div>
                    <div>
                        <span><b>Wednesday..........09:00-17:00</b></span>
                    </div>
                    <div>
                        <span><b>Thursday..........09:00-17:00</b></span>
                    </div>
                    <div>
                        <span><b>Friday..........09:00-17:00</b></span>
                    </div>
                    <div>
                        <span><b>Saturday..........09:00-17:00</b></span>
                    </div>
                    <div>
                        <span><b>Sunday..........09:00-17:00</b></span>
                    </div>
            </div>
        </div>

        <!-- Google map -->
        <div class="col-lg-8">
            <div id="map" class="map-container"></div>
        </div>
    </div>

    <!-- Contact details -->
    <div class="row">
        <div class="col-lg-4">
            <div class="timetable">
                <!-- Opening hours table here -->
                <h6><b>You can find us on:</b></h6>
                <p>32 St. Patrick's Quay, Cork, Ireland</p>
                <p>Phone number: 353871376895/0871376899 </p>
                <p>Email: madisons_patisserie@yahoo.com</p>
            </div>
        </div>
   
    </div>
    
</div>

{% endblock %}