{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="col-12 container-fluid home-cover bg-succes">
    <div class="text-center col-12 cover-overlay pl-3 pr-3 pb-3">
      <div>
        <h2 class="d-none d-lg-block">Welcome to Madison's Patisserie,</h1>
        <h3 class="d-none d-md-block d-lg-none">Welcome to Madison's Patisserie,</h2>
        <h4 class="d-md-none">Welcome to Madison's Patisserie,</h3>
      </div>
        <br>
        <div>
          <h4 class="d-none d-lg-block"><em>Where edible artistry meets indulgence</em></h4>
          <h5 class="d-none d-md-block d-lg-none"><em>Where edible artistry meets indulgence</em></h5>
          <h6 class="d-md-none"><em>Where edible artistry meets indulgence</em></h6>
        </div>
        <br>
        <button class="button purple-btn wiggle-btn mx-auto" onclick='location.href="{% url 'products' %}";'>
          Shop Now
        </button>          
    </div>
</div>

<!-- CORK SHOP INFO CONTAINER -->

<div>
  <div class="main-container col-lg-11 mx-auto pt-4 pb-4">
    <h3 class="mb-4 text-center decorated col-11 col-md-4 mx-auto"><span>Cork Shop</span></h3>
    <div class="pt-lg-3">
      <div class="col-12 mb-4 mb-lg-3">
          <div class="col-12 col-md-9 col-lg-12 col-xl-10 p-0 mx-auto">
              <div class="d-lg-flex justify-content-between text-left mx-auto home-container">
                <div class="col-12 col-md-10 col-lg-11 p-0 mb-3 mx-auto m-lg-0">
                  <p>
                    At <strong>Madison's Patisserie,</strong> we offer a wide range of baked products including cakes, pastries, flans, doughnuts,
                    pies, cookies and many other delectable creations that will surely satisfy your sweet cravings.
                    </p>
                    <p>We invite you to register and shop on our online site to take advantage of our special discounts.
                       We also welcome you to our <a class="hover-underline" href="{% url 'contact' %}"><strong>Cork Bakeshop Cafe</strong></a>  to sit back, relax and enjoy your favourite sweet treats with hot or cold beverage of your choice.
                      <p><strong>Join our Community.</strong> Be part of our bakeshop family! Subscribe to our newsletter for exclusive recipes,
                        baking tips, and special discounts. Follow us on social media for mouthwatering visuals and product updates.
                      </p>
                       <div class="col-12 p-0 d-flex flex-column flex-sm-row justify-content-between align-items-md-end">
                          <p><i class="fas fa-map-marker-alt"></i> Location:</p>
                          <p><em>32 St. Patrick's Quay, Cork, Ireland</em> </p>
                       </div>
                       <div class="col-12 p-0 d-flex flex-column flex-sm-row  justify-content-between align-items-md-left">
                        <p><i class="fas fa-address-book"></i> Contact:</p>
                        <p><em>madisons_patisserie@yahoo.com</em> </p>
                        <p><em>0871376895/0871376899</em> </p>
                </div>
                
              </div>
          </div>
      </div>
    </div>

    <div class="pt-lg-3">
      <div class="col-12 mb-4 mb-lg-3">
          <div class="col-12 col-md-9 col-lg-12 col-xl-10 p-0 mx-auto">
              <div class="d-lg-flex justify-content-between text-center mx-auto home-container">
                <div class="col-12 col-md-10 col-lg-11 p-0 mb-3 mx-auto m-lg-0">
                  <img class="img-fluid img-shadow" src="{{ MEDIA_URL }}bakeshop_img.webp" alt="Bakeshop image">
                </div>
                
              </div>
          </div>
      </div>
    </div>

{% endblock %}