{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="col-12 container-fluid home-cover bg-succes">
    <div class="text-center col-12 col-md-8 cover-overlay pl-3 pr-3 pb-3">
      <div class="cover-text">
        <h1 class="d-none d-lg-block">Scrumptious Sweet Treats</h1>
        <h2 class="d-none d-md-block d-lg-none">Scrumptious Sweet Treats</h2>
        <h3 class="d-md-none">Scrumptious Sweet Treats</h3>
      </div>
        <br>
        <div class="cover-text">
          <h4 class="d-none d-lg-block">Discover our selection of scrumptious and delectable sweet treats</h4>
          <h5 class="d-none d-md-block d-lg-none">Discover our selection of scrumptious and delectable sweet treats</h5>
          <h6 class="d-md-none">Discover our selection of scrumptious and delectable sweet treats</h6>
        </div>
        <br>
        <button class="button purple-btn wiggle-btn mx-auto" onclick=''>
          Shop our products
        </button>      
    </div>
  </div>
{% endblock %}