{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="col-12 container-fluid home-cover bg-succes">
    <div class="text-center col-12 cover-overlay pl-3 pr-3 pb-3">
      <div>
        <h2 class="d-none d-lg-block">Welcome to Madison's Patisserie,</h1>
        <h3 class="d-none d-md-block d-lg-none">Welcome to Madison's Patisserie,</h2>
        <h4 class="d-md-none">Welcome to Madison's Patisserie,</h3>
      </div>
        <br>
        <div>
          <h4 class="d-none d-lg-block"><em>Where edible artistry meets indulgence</em></h4>
          <h5 class="d-none d-md-block d-lg-none"><em>Where edible artistry meets indulgence</em></h5>
          <h6 class="d-md-none"><em>Where edible artistry meets indulgence</em></h6>
        </div>
        <br>
        <button class="button purple-btn wiggle-btn mx-auto" onclick='location.href="{% url 'products' %}";'>
          Shop Now
        </button>          
    </div>
</div>

<!-- CORK SHOP INFO CONTAINER -->

<div>
  <div class="main-container col-lg-11 mx-auto pt-4 pb-4">
    <h3 class="mb-4 text-center decorated col-11 col-md-4 mx-auto"><span><strong>Cork Shop</strong></span></h3>
    <div class="pt-lg-3">
      <div class="col-12 mb-4 mb-lg-3">
          <div class="col-12 col-md-9 col-lg-12 col-xl-10 p-0 mx-auto">
              <div class="d-lg-flex justify-content-between text-left mx-auto home-container">
                <div class="col-12 col-md-10 col-lg-11 p-0 mb-3 mx-auto m-lg-0">
                  <p>
                    At <strong>Madison's Patisserie,</strong> we offer a wide range of baked products including cakes, pastries, cupcakes, brownies, flans, doughnuts,
                    pies, cookies and many other delectable creations that will surely satisfy your sweet cravings.
                    </p>
                    <p>We invite you to register and shop on our online site to take advantage of our special discounts.
                       We also welcome you to our <a class="hover-underline text-purple" href="{% url 'contact' %}"><strong>Cork Bakeshop Cafe</strong></a>  to sit back, relax and enjoy your favourite sweet treats with hot or cold beverage of your choice. 
                       What's more, you can also purchase all your favorites from the shop.
                      <p><strong>Join our Community.</strong> Be part of our bakeshop family! Subscribe to our newsletter for exclusive recipes,
                        baking tips, and special discounts. Follow us on social media to keep you posted with special promotions and competitions, 
                        and for mouthwatering visuals and product updates.
                      </p>
                </div>
                
              </div>
          </div>
      </div>
    </div>

    <div class="pt-lg-3">
      <div class="col-12 mb-4 mb-lg-3">
          <div class="col-12 col-md-9 col-lg-12 col-xl-10 p-0 mx-auto">
              <div class="d-lg-flex justify-content-between text-center mx-auto home-container">
                <div class="col-12 col-md-10 col-lg-11 p-0 mb-3 mx-auto m-lg-0">
                  <img class="img-fluid img-shadow" src="{{ MEDIA_URL }}bakeshop_img.webp" alt="Bakeshop image">
                </div>
                
              </div>
          </div>
      </div>
    </div>

{% endblock %}