{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="col-12 container-fluid faq-list bg-succes">
    <h3 class="faq_title">Frequently Asked Questions</h3>
    <div class="faq-list">
        {% for faq in faqs %}
        <div class="faq-item">
            <div class="question"><strong>{{ faq.question }}</strong></div>
            <div class="answer">{{ faq.answer }}</div>
        </div>
        {% empty %}
        <p>No FAQs available.</p>
        {% endfor %}
    </div>
</div>


{% endblock %}