{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="col-12 container-fluid bg-succes">
    <!-- ABOUT US INFO CONTAINER -->
    <div>
        <div class="main-container col-lg-12 mx-auto pt-3 pb-4">
        <h3 class="mb-2 text-center decorated col-11 col-md-4 mx-auto"><span><strong>About Us</strong></span></h3>
        <div class="pt-lg-3">
            <div class="col-12 mb-4 mb-lg-3">
                <div class="col-12 col-md-10 col-lg-12 col-xl-10 p-0 mx-auto">
                    <div class="d-lg-flex justify-content-between text-left mx-auto home-container">
                    <div class="col-12 col-md-10 col-lg-6 p-0 mb-3 mx-auto m-lg-0">
                        <div class="text-left">
                            <p>
                                Welcome to <strong>Madison's Patisserie</strong>, where love, passion, 
                                and creativity blend seamlessly to create the most delectable 
                                baked treats for you and your family. We are more than just a
                                bakeshop; we are a family-owned establishment deeply rooted in 
                                the heart of Cork.
                            </p>
                        </div>
                        <div class="text-left">
                            <p>
                                <strong>Our Story</strong><br>
                                Our story started 8years ago when Madison - the founder and owner of Madison's Parisserie
                                would make cakes and sweet treats for family and friends. Before long, she started
                                getting requests from friends and family. And the rest is history, what started as
                                a small family affair blossomed into <em>Madison's Patisserie</em>,
                                a beloved bakeshop known for its mouthwatering pastries, cakes, and confections.
                            </p>
                        </div>
                        <div class="text-left">
                            <p>
                                <strong>Our Philosophy</strong><br>
                                At Madison's, we believe in the power of simple, 
                                high-quality ingredients. We source our flour, sugar, butter and 
                                other essential ingredients from local farmers and suppliers, 
                                ensuring freshness and authenticity in every bite. Our skilled bakers, 
                                trained in both time-honored techniques and innovative trends, meticulously 
                                craft each item, infusing them with a touch of homemade warmth.
                            </p>
                        </div>
                        <div class="text-left">
                            <p>
                                <strong>Our Commitment</strong><br>
                                Customer satisfaction is at the core of our values. We strive to create an inviting 
                                atmosphere where you can indulge in the sweet pleasures of life. Whether you're celebrating 
                                a milestone, sharing a moment with loved ones, or simply craving a delightful dessert,
                                Madison's is the place where memories are made sweeter. <br>
                                <strong>Thank you for being a part of our story. Join us on this delectable journey, 
                                    and let's continue to spread joy, one bite at a time.</strong>
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-10 col-lg-6 p-o mb-3 mx-auto m-lg-0">
                        <img class="img-fluid img-shadow" src="{{ MEDIA_URL }}mom_daughter.webp" alt="Bakeshop image">
                    </div>
                    
                    </div>
                </div>
            </div>
        </div>    
    </div>    
</div>
{% endblock %}
