{% extends "base.html" %} 
{% load static %} 

{% block content %}
<div class="col-lg-12 contact-page">
    <div class="col-lg-12 container">
        <div class="row">
            <div class="col-lg-4">
                <!-- About us text -->
                <div class="timetable mb-2 mt-2">
                    <h5 class="text-center">About us</h5>
                    <div class="text-center">
                        <p>
                            Welcome to <em>Madison's Patisserie</em>, where love, passion, 
                            and creativity blend seamlessly to create the most delectable 
                            baked treats for you and your family. We are more than just a
                            bakeshop; we are a family-owned establishment deeply rooted in 
                            the heart of Cork.
                        </p>
                    </div>
                    <div class="text-center">
                        <p>
                            <strong>Our Story</strong><br>
                            Our story started 8years ago when Ayla - the founder and owner of Madison's
                            would make cakes and sweet treats for family and friends. Before long, she started
                            getting requests from friends and family. And the rest is history, what started as
                            a small family affair blossomed into <em>Madison's Patisserie</em>,
                            a beloved bakeshop known for its mouthwatering pastries, cakes, and confections.
                        </p>
                    </div>
                    <div class="text-center">
                        <p>
                            <strong>Our Legacy</strong><br>
                            Baking is more than just a profession for us; it's a cherished family tradition. 
                            Passed down from generation to generation, our recipes are a testament to the love 
                            and dedication of our family. Each bite of our treats carries the essence of our
                             heritage, making every customer a part of our extended family.
                        </p>
                    </div>
                    <div class="text-center">
                        <p>
                            <strong>Our Philosophy</strong><br>
                            At Madison's, we believe in the power of simple, 
                            high-quality ingredients. We source our flour, sugar, butter and 
                            other essential ingredients from local farmers and suppliers, 
                            ensuring freshness and authenticity in every bite. Our skilled bakers, 
                            trained in both time-honored techniques and innovative trends, meticulously 
                            craft each item, infusing them with a touch of homemade warmth.
                        </p>
                    </div>
                    <div class="text-center">
                        <p>
                            <strong>Community Engagement</strong><br>
                            Being a family-owned bakeshop, we understand the importance of community. 
                            We actively participate in local events, sponsor school programs, and contribute 
                            to charitable causes within Cork. Our goal is to not only serve delightful treats 
                            but also to be a positive force within our community.
                        </p>
                    </div>
                    <div class="text-center">
                        <p>
                            <strong>Our Commitment</strong><br>
                            Customer satisfaction is at the core of our values. We strive to create an inviting 
                            atmosphere where you can indulge in the sweet pleasures of life. Whether you're celebrating 
                            a milestone, sharing a moment with loved ones, or simply craving a delightful dessert,
                            Madison's is the place where memories are made sweeter. 
                            Thank you for being a part of our story. Join us on this delectable journey, and let's 
                            continue to spread joy, one bite at a time.
                        </p>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    


{% endblock %}