{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="apple-touch-icon" sizes="180x180" href="static/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="static/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="static/favicon/favicon-16x16.png">
        <meta name="description" content="Madison's Patisserie is an online bakeshop offering a wide range of 
        baked products,from cakes to pies and pastries with delivery service in Cork.">
    <meta name="keywords" content="Cakes Cork, cake delivery in cork, cork bakeshop,
    wedding cakes, custom-made cakes, occasion cakes, birthday cakes, pies, doughnuts, christening cake, 
    drip cakes, chocolate cakes, elegant cakes, scrumptious cakes, shop cakes">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Croissant+One&family=Dancing+Script:wght@700&family=Lato:ital,wght@0,300;0,400;1,300&family=Poiret+One&family=Qwigley&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/7141b35c3c.js" crossorigin="anonymous"></script> 
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Madison's Patisserie{% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header>
      <div class="col-12 col-md-6 mx-md-auto mb-md-2 mb-lg-0 col-lg-4 col-xl-3 pt-2 pt-lg-0">
        <a class="logo d-flex d-lg-none justify-content-center justify-content-lg-start align-items-end mb-2 mb-md-0" href="{% url 'home' %}">
          <img class="col-3 " src="{{ MEDIA_URL }}logo.png" alt="logo image">
          <h4>Madison's Patisserie</h4>  
        </a>
      </div>
      <div class="add-container bg-light d-lg-none mb-lg-2 ">
        <div class="add container-fluid text-center"><p class="mx-auto">Free delivery on orders over €50</p></div>
        <div class="add container-fluid text-center"><p class="mx-auto">Register and enjoy <span class="text-success">20% off</span> on your first order</p></div> 
      </div>
      <!-- Navigation links -->
      <nav class="navbar navbar-expand-lg navbar-light">
        <button id="navbarTogglerButton" class="navbar-toggler bg-transparent" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars text-white"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
          <div class="container-fluid p-side">
            <ul class="categories d-block d-lg-flex col-6">
              <li class="nav-item mr-3 mt-2 mt-lg-0">
                <a href="#">All products</a>
              </li>
              <li class="nav-item mr-3 mt-2 mt-lg-0">
                <div class="dropdown">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Cakes</a>
                  <div class="dropdown-menu dropdown-menu-lg-start">
                      <a class="dropdown-item" href="#">Buttercream Cakes</a>
                      <a class="dropdown-item" href="#">Drip Cakes</a>
                      <a class="dropdown-item" href="#">Chocolate Cakes</a>
                      <a class="dropdown-item" href="#">Occassion Cakes</a>
                  </div>
                </div>
              </li>
              <li class="nav-item mr-3 mt-2 mt-lg-0">
                <div class="dropdown">
                  <a class="dropdown-toggle" href="" data-toggle="dropdown" aria-expanded="false" >
                    Everyday Essentials
                  </a>
                  <div class="dropdown-menu dropdown-menu-lg-start">
                      <a class="dropdown-item" href="#">Desserts</a>
                      <a class="dropdown-item" href="#">Sweet Treats</a>
                  </div>
                </div>
              </li>
              <li class="nav-item mr-3 mt-2 mt-lg-0">
                <a href="#">Special Offers</a>
              </li>
              <div class="d-none d-lg-block col-lg-3 p-0">
                {% include 'includes/search-box.html' %}
              </div>
            </ul>
          </div>
          <hr class="d-lg-none">
          <div class="container-fluid add-container bg-light d-none d-lg-block mb-lg-2 p-lg-0">
            <div class="add container-fluid"><p class="mx-auto">Free delivery on orders over €50</p></div>
            <div class="add container-fluid"><p class="mx-auto">Register and enjoy <span class="text-success">20% off</span> on your first order</p></div> 
          </div>
          <div class="container-fluid d-block d-lg-flex mb-lg-1">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
              <a class="logo d-none d-lg-flex justify-content-center justify-content-md-start align-items-end mb-2 mb-md-0" href="{% url 'home' %}">
                <img class="col-3 " src="{{ MEDIA_URL }}logo.png" alt="logo image">
                <h4>Madison's Patisserie</h4>  
              </a>
            </div>
            {% if user.is_authenticated %}
              {% if user.is_staff %}
                <div class="col-12 col-md-3 col-lg-2 col-xl-1">
                  <ul class="d-block d-lg-flex justify-content-end navigation">
                    <li class="nav-item ml-lg-4  mt-2 mt-lg-0" id="adminManageNav">
                      <div class="dropdown">
                        <a title="Admin Manage" href="#"  data-toggle="dropdown" aria-expanded="false" >
                          <span class="dropdown-toggle d-lg-none">Admin manage</span>
                          <i class="fas fa-database d-none d-lg-block"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg-start">
                          <hr class="dropdown-divider">
                          <a class="dropdown-item" href="#">Orders</a>
                          <a class="dropdown-item" href="#">Add a product</a>
                          <hr class="dropdown-divider d-none d-lg-block">
                          <a class="dropdown-item d-none d-lg-block" href="{% url 'account_logout' %}" data-bs-toggle="modal" data-bs-target="#logoutModal">Logout</a>
                        </div>
                      </div>
                    </li>
                    <li class="nav-item ml-lg-4 mt-2 mt-lg-0" id="chatNav">
                      <a href="" title="Customer Service">
                        <span class="d-lg-none">Customer service</span>
                        <i class="fas fa-comments d-none d-lg-block"></i>
                      </a>
                    </li>
                    <li class="nav-item mb-2 mb-lg-0 ml-lg-4 mt-2 d-lg-none">
                      <a href="{% url 'account_logout' %}" data-bs-toggle="modal" data-bs-target="#logoutModal">
                        <span>Logout</span>
                      </a>
                    </li>
                  </ul>
                </div>
              {% else %}
                <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                  <ul class="d-block d-lg-flex justify-content-end navigation">
                    <li class="nav-item  ml-lg-4  mt-2 mt-lg-0" id="userNav">
                      <div class="dropdown">
                        <a class="d-none d-lg-block" title="Account" href="#"  data-toggle="dropdown" aria-expanded="false" >
                          <i class="fas fa-user-circle"></i>
                        </a>
                        <a class="d-lg-none" href="#">
                          <span>My profile</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg-start">
                          <a class="dropdown-item" href="#">My profile</a>
                          <hr class="dropdown-divider  d-none d-lg-block">
                          <a class="dropdown-item" href="{% url 'account_logout' %}" data-bs-toggle="modal" data-bs-target="#logoutModal">Logout</a>
                        </div>
                      </div>
                    </li>
                    <li class="nav-item  ml-lg-4 mt-2 mt-lg-0" id="wishlistNav">
                      <a href="" title="Wishlist">
                        <span class="d-lg-none">Wishlist</span>
                        <i class="fas fa-heart d-none d-lg-block"></i>
                      </a>
                    </li>
                    <li class="nav-item  ml-lg-4 mt-2 mt-lg-0" id="bagNav">
                      <a href="" title="Shopping Bag">
                        <span class="d-lg-none">Shopping Bag</span>
                        <i class="fas fa-shopping-bag d-none d-lg-block"></i>
                      </a>
                    </li>
                    <li class="nav-item  ml-lg-4 mt-2 mt-lg-0" id="chatNav">	
                      <a href="" title="Customer Service">	
                        <span class="d-lg-none">Customer Service</span>	
                        <i class="fas fa-comments d-none d-lg-block"></i>	
                      </a>
                    </li>
                    <li class="nav-item mx-auto mb-2 mb-lg-0 mt-2 d-lg-none">
                      <a href="{% url 'account_logout' %}" data-bs-toggle="modal" data-bs-target="#logoutModal">	
                        <span>Logout</span>	
                      </a>
                    </li>
                  </ul>
                </div>
              {% endif %}
            {% else %}
              <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                <ul class="d-block d-lg-flex justify-content-end navigation">
                  <li class="nav-item ml-lg-4  mt-2 d-lg-none">	
                    <a href="{% url 'account_login' %}" >	
                      <span>Login</span>	
                    </a>	
                  </li>	
                  <li class="nav-item ml-lg-4 mt-2 d-lg-none">	
                    <a href="{% url 'account_signup' %}" >	
                      <span>Register</span>	
                    </a>	
                  </li>	
                  <li class="nav-item ml-lg-4 mt-2 mt-lg-0 d-none d-lg-block" id="userNav">
                    <div class="dropdown">
                      <a title="Account" href="#"  data-toggle="dropdown" aria-expanded="false" >
                        <i class="fas fa-user-circle"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-lg-start">
                          <hr class="dropdown-divider">
                          <a class="dropdown-item" href="{% url 'account_login' %}" >Login</a>
                          <a class="dropdown-item"  href="{% url 'account_signup' %}">Register</a>
                      </div>
                    </div>
                  </li>
                  <li class="nav-item ml-lg-4 mt-2 mt-lg-0" id="wishlistNav">	
                    <a href="" title="Wishlist">	
                      <span class="d-lg-none">Wishlist</span>	
                      <i class="fas fa-heart d-none d-lg-block"></i>	
                    </a>	
                  </li>	
                  <li class="nav-item ml-lg-4 mt-2 mt-lg-0" id="bagNav">	
                    <a href="" title="Shopping Bag">	
                      <span class="d-lg-none">Shopping Bag</span>	
                      <i class="fas fa-shopping-bag d-none d-lg-block"></i>	
                    </a>	
                  </li>	
                  <li class="nav-item mb-2 mb-lg-0 ml-lg-4 mt-2 mt-lg-0" id="chatNav">	
                    <a href="" title="Customer Service">	
                      <span class="d-lg-none">Customer Service</span>	
                      <i class="fas fa-comments d-none d-lg-block"></i>	
                    </a>
                  </li>
                </ul>
              </div>
            {% endif %}
          </div>
        </div>
        <div class="d-none d-md-block d-lg-none col-md-6 search-bar">
          {% include 'includes/search-box.html' %}
        </div>
        <div class="d-md-none p-0 search-bar">
          <div class="dropdown">
            <a class="d-lg-none" title="Search" href="#"  data-toggle="dropdown" aria-expanded="false" >
              <i class="fas fa-search text-light"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-lg-start col-12">
              {% include 'includes/search-box.html' %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main class="flex-shrink-0 main-bg">
      <div class="content-container">
        {% block content %} 
        {% endblock %}
      </div>
    </main>

    {% block postloadjs %}
    {% endblock %}

    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>